.form-inline .form-row {
  margin-bottom: 8px;
}
.taglist .label {
  margin-right: 0.25em;
}
.timeline-update {
  font-weight: bold;
}
.modal-footer input,
.modal-footer select {
  margin-right: 8px;
}
.condition-pair select {
  width: 50px;
}
select.parser {
  width: 140px;
}
select.time-interval {
  width: 110px;
}
.alert {
  cursor: pointer;
}
.kb-shortcut {
  font-size: 0.9em;
  color: #999999
}
.pagination-group {
  text-align: center;
  margin-bottom: 1em;
}
.form-row input,
.form-row select,
.header-nav-group a,
.pagination-group a {
  margin-right: 8px;
}
.header-nav-group {
  margin-bottom: 1em;
}
#keyboard-shortcuts-group {
  margin-top: 9px; /* Align with drop-down text */
  text-align: right;
}
#keyboard-shortcuts-modal .keyChar {
  font-weight: bold;
  text-align: right;
  padding-right: 8px;
}
.taglist {
  margin-bottom: 18px;
}
.header-grid > div:nth-child(2) {
  text-align: center;
}
.btn-group-center .btn-group {
  margin: 0 auto;
  display: inline-block;
}
.header-grid form > * {
  margin-right: 8px;
}
#dashboard-main-graph {
  height: 400px;
}
