.form-inline .form-row {
  margin-bottom: 8px;
}
.taglist .label {
  margin-right: 0.25em;
}
.timeline-update {
  font-weight: bold;
}
.modal-footer select + button {
  margin-left: 8px;
}
.condition-pair select {
  width: 50px;
}
select#parser {
  width: 120px;
}
.alert {
  cursor: pointer;
}
.kb-shortcut {
  font-size: 0.9em;
  color: #999999
}
