exports.read = function () {
  return {
    sources: [
      {
        path: '/path/to/php/log',
        parser: 'php',
        tags: []
      },
      {
        path: '/path/to/json/log',
        parser: 'json',
        tags: []
      }
    ],
    storage: {
      module: 'mongodb',
      db: 'mydb',
      host: '127.0.0.1',
      port: 27017,
      collection: 'mycollection'
    }
  };
};
