<div id="dashboard-header-grid" class="row-fluid header-grid">
  <div class="span4">
    <div class="btn-group-center">
      <div class="btn-group">
        <a id="dashboard-create-from-search" class="btn" href=""><i class="icon-search"></i> Create From Search</a>
        <a id="dashboard-related-timeline" class="btn" href=""><i class="icon-share-alt"></i> Related Timeline</a>
      </div>
    </div>
  </div>
  <div class="span4">
    <form id="dashboard-dropdowns" class="form-inline">
      <div>
        <select class="parser"></select>
        {>select_time_interval/}
      </div>
    </form>
    <div id="dashboard-search-mode-controls" class="hide">
      <a id="dashboard-cancel-search" class="btn btn-danger" href=""><i class="icon-trash icon-white"></i> Cancel Search</a>
    </div>
  </div>
  <div class="span4">
    {>keyboard_shortcuts/}
  </div>
</div>
<div class="row-fluid">
  <div id="dashboard-main-graph" class="span12"></div>
</div>
</div>
{>timeline_search_modal/}
