<div class="modal hide" id="edit-singlevalue-modal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h4 id="modal-title"></h4>
  </div>
  <form class="well form-inline form-inline">
    <div class="modal-body">
      <div class="form-row">
        <input type="text" class="inline-control input-small" />
        <p class="help-block"></p>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" type="submit">Save</button>
    </div>
  </form>
</div>
