<div id="event-header-grid" class="row-fluid header-grid">
  <div class="span4">
    <div class="header-nav-group">
    {#intReferer}
      <a href="{intReferer}" class="btn"><i class="icon-arrow-left" /> Back</a>
    {/intReferer}
    <a id="event-find-similar" href="#" class="btn"><i class="icon-search" /> Find Similar</a>
    </div>
  </div>
  <div class="span4"><h3>{time}</h3><h4>({timeFromNow})</h4></div>
  <div class="span4">
  {>keyboard_shortcuts/}
  </div>
</div>
<div class="taglist">
  <span class="label label-info">{parser}</span>
  {#parser_subtype}
  <span class="label label-info">{parser_subtype}</span>
  {/parser_subtype}
  {#tags}
  <span class="label label-info">{name}</span>
  {/tags}
</div>
{#__parse_error}
<div class="alert alert-error">
  This log's {__parse_error} could not be parsed. All recoverable data is shown below.
</div>
{/__parse_error}
{>timeline_search_modal/}
{>keyboard_shortcuts_modal/}
