<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th>Field</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>Time</td><td>{time}</td></tr>
    <tr><td>Type</td><td>{type}</td></tr>
    <tr><td>Level</td><td>{level}</td></tr>
    <tr><td>Message</td><td>{message}</td></tr>
    <tr><td>Class</td><td>{class}</td></tr>
    <tr><td>File</td><td>{file}</td></tr>
    <tr><td>Line</td><td>{line}</td></tr>
    <tr><td>Event</td><td>{event}</td></tr>
    <tr><td>Listener</td><td>{listener}</td></tr>
    <tr><td>Tags</td><td>{tags}</td></tr>
  </tbody>
</table>
