<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Mainevent</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/css/all.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <script>
      var mainevent = {
        parsers: <%= parsers %>,
        maxResultSize: <%= maxResultSize %>
      };
    </script>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">mainevent</a>
          <div class="nav-collapse">
            <ul id="nav-list" class="nav">
              <li id="nav-dashboard"><a href="#">Dashboard</a></li>
              <li id="nav-timeline"><a href="/#timeline">Timeline</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div id="alert" class="container-fluid"></div>
    <div id="content" class="container-fluid">
      <div id="backbone-view"></div>
    </div> <!-- /container -->
    <script data-main="/js/index.js" src="/js/require.js"></script>
  </body>
</html>
