<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Diana</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="css/index.css" rel="stylesheet">
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">/var/log/diana</a>
          <div class="nav-collapse">
            <ul id="nav-list" class="nav">
              <li id="nav-home"><a href="#">Home</a></li>
              <li id="nav-timeline"><a href="/#timeline">Timeline</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div id="alert" class="container-fluid"></div>
    <div id="content" class="container-fluid">
      <div id="backbone-view"></div>
    </div> <!-- /container -->
    <script src="js/libs.js"></script>
    <script src="js/templates.js"></script>
    <script src="js/shared.js"></script>
    <script src="js/mvc.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>
