<div class="modal hide" id="timeline-search-modal" data-keyboard="false">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h4>Search</h4>
  </div>
  <form class="well form-inline form-inline">
    <div class="modal-body">
      <div class="form-row">
        <span class="input-prepend">
          <span class="add-on">Event Type</span>
          <select id="parser"></select>
        </span>
      </div>
      <div class="form-row">
        {>select_time_preset/}
        <input id="time-gte" type="text" class="input-medium" placeholder="Earliest Event" /><input id="time-lte" type="text" class="input-medium" placeholder="Latest Event" />
        <a id="time-preset-clear" class="btn btn-danger" href="#"><i class="icon-trash icon-white" /></a>
      </div>
      <div class="form-row condition-pair">
        <input type="text" class="input-small" placeholder="Name">
        <select>
          <option value="">=</option>
          <option value="gte">&gt;=</option>
          <option value="gt">&gt;</option>
          <option value="lte">&lt;=</option>
          <option value="lt">&lt;</option>
          <option value="ne">!=</option>
        </select>
        <input type="text" class="input-xlarge" placeholder="Value" />
        <a class="btn btn-danger" href="#"><i class="icon-trash icon-white" /></a>
      </div>
    </div>
    <div class="modal-footer">
      <span class="input-prepend">
        <span class="add-on">Sort By</span>
        <input id="sort-attr" type="text" class="input-small" placeholder="Name" />
      </span>
      <select id="sort-dir">
        <option value="asc">Low to High</option>
        <option value="desc">High to Low</option>
      </select>
       <button class="btn btn-primary" type="submit">Search</button>
    </div>
  </form>
</div>
