<div class="modal hide" id="timeline-search-modal" data-keyboard="false">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h4>Search</h4>
  </div>
  <form class="well form-inline form-inline">
    <div class="modal-body">
      <div class="form-row">
        <select id="parser"></select>
      </div>
      <div class="form-row">
        <select id="time-preset">
          <option value="">Time ...</option>
          <option value="60">Last 1 min</option>
          <option value="300">Last 5 mins</option>
          <option value="900">Last 15 mins</option>
          <option value="3600">Last 1 hour</option>
          <option value="86400">Last 1 day</option>
          <option value="604800">Last 1 wk</option>
          <option value="2592000">Last 30 days</option>
        </select>
        <input id="time-gte" type="text" class="input-medium" placeholder="Earliest Event" /><input id="time-lte" type="text" class="input-medium" placeholder="Latest Event" />
        <a id="time-preset-clear" class="btn btn-danger" href="#"><i class="icon-trash icon-white" /></a>
      </div>
      <div class="form-row condition-pair">
        <input type="text" class="input-small" placeholder="Name">
        <select>
          <option value="">=</option>
          <option value="gte">&gt;=</option>
          <option value="gt">&gt;</option>
          <option value="lte">&lt;=</option>
          <option value="lt">&lt;</option>
          <option value="ne">!=</option>
        </select>
        <input type="text" class="input-xlarge" placeholder="Value" />
        <a class="btn btn-danger" href="#"><i class="icon-trash icon-white" /></a>
      </div>
    </div>
    <div class="modal-footer">
      <label for="sort-attr">Sort By</label> <input id="sort-attr" type="text" class="input-small" placeholder="Name" />
      <select id="sort-dir">
        <option value="asc">Low to High</option>
        <option value="desc">High to Low</option>
      </select>
       <button class="btn btn-primary" type="submit">Search</button>
    </div>
  </form>
</div>
