<div class="modal hide" id="timeline-search-modal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h4>Search</h4>
  </div>
  <form class="well form-inline form-inline">
    <div class="modal-body">
      <div class="form-row">
        <select id="parser"></select>
      </div>
      <div class="form-row">
        Between <input id="time-gte" type="text" class="input-medium" placeholder="Ex. 03/21/2012 08:10" /> and <input id="time-lte" type="text" class="input-medium" placeholder="Ex. 03/21/2012 12:10" />
      </div>
      <div class="form-row condition-pair">
        <input type="text" class="input-small" placeholder="Name">
        <select>
          <option value="">=</option>
          <option value="gte">&gt;=</option>
          <option value="gt">&gt;</option>
          <option value="lte">&lt;=</option>
          <option value="lt">&lt;</option>
          <option value="ne">!=</option>
        </select>
        <input type="text" class="input-xlarge" placeholder="Value" />
      </div>
    </div>
    <div class="modal-footer">
      <label for="sort-attr">Sort By</label> <input id="sort-attr" type="text" class="input-small" placeholder="Name" />
      <select id="sort-dir">
        <option value="asc">Low to High</option>
        <option value="desc">High to Low</option>
      </select>
       <button class="btn btn-primary" type="submit">Search</button>
    </div>
  </form>
</div>
